@font-face {
  font-family: SF Outer Limits;
  src: url(fonts/SFOuterLimits.ttf);
}
@font-face {
  font-family: Zero Hour;
  src: url(fonts/zero\ hour.ttf);
}
@font-face {
  font-family: Vandiana Platin;
  src: url(fonts/Vandiana_Platin_Lite.ttf);
}

h1 {
  font-family: "SF Outer Limits" !important;
  display: flex;
  justify-content: center;
  color: lightgray;
  letter-spacing: 2px;
  font-size: 70px;
  text-shadow: 1px 0px 1px black, 0px 1px 1px black, 2px 1px 1px black,
    1px 2px 1px black, 3px 2px 1px black, 2px 3px 1px black, 4px 3px 1px black,
    3px 4px 1px black, 5px 4px 1px black, 4px 5px 1px black, 6px 5px 1px black,
    5px 6px 1px black, 7px 6px 1px rgb(160, 156, 156);
}
body {
  background-image: linear-gradient(#021131, #021131, white, #021131, #021131);
  background-size: cover;
}
#myCanvas {
  padding: 1em;
}
p {
  color: lightgray;
  font-size: 21px;
}
b {
  color: #fff562;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
li {
  padding: 0;
  list-style: decimal;
  font-family: "Zero Hour" !important;
  color: lightgray;
  display: flex;
  justify-content: center;
  font-size: 20px;
  /* color: #afd275; */
}

.algorithm-modifiers {
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid black;
  padding-bottom: 1px;
}

[class*="algorithm-modifiers__button"] {
  font-family: "Zero Hour" !important;
  font-weight: bold;
  color: black !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #a50b39;
  padding: 7px;
  border-radius: 50px;
  border: none;
  transition: all 0.4s ease 0s;
}

[class*="algorithm-modifiers__button"]:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 248, 0, 1);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
